<%- include("partials/header.ejs") -%>
<%- include("partials/navbar.ejs") -%>
<hr/>
<%- include("partials/sidebar.ejs") -%>

<div class="postBox">
    <% posts.forEach(function(post){ %>
        <div class="post">
            <h3 class="postTopic"> <%= post.topic %> </h3>
            <h3 class="postAuthor"><%= post.author %></h3>
            <h3 class="postDate"><%= post.date %></h3>
            <h2 class="postTitle"><%= post.title %></h2>
            <% if(post.postImage != null){ %>
                <div class="postImage">
                    <img src="<%= post.postImage %>" alt="post image" class="postImage">
                </div> 
            <% } %>
            
            <div class="postImage">
                <img src="<%= post.image %>" alt="post image" class="postImage">
            </div> 
            <div>
                <button class="postButton">Enter Discussion</button>
                <button class="postButton">Save</button>
            </div>
        </div>
    <% }); %>
</div>


