<%- include("partials/header.ejs") -%>
<%- include("partials/navbar.ejs") -%>
<div class="content-body">
<%- include("partials/sidebar.ejs") -%>
<div class="postBox">
    <% posts.forEach(function(post){ %>
        <div class="post">
            <div class="post-details">
            <span class="postTopic"> <%= post.topic %> </span>
            <span class="postAuthor"><%= post.author %></span>
            <span class="postDate"><%= post.date %></span>
            </div>
            <h2 class="postTitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut voluptatum reprehenderit atque magni enim ullam in quaerat autem harum quam?</h2>
            <% if(post.postImage != null){ %>
                <div class="postImage">
                    <img src="<%= post.postImage %>" alt="post image" class="postImage">
                </div> 
            <% } %>
            
            <div class="postImage">
                <img src="<%= post.image %>" alt="post image" class="postImage">
            </div> 
            <div class="bottom-buttons">
                <button class="postButton">Enter Discussion <i class="fa-solid fa-right-to-bracket"></i></button>
                <button class="postButton">Save<i class="fa-regular fa-bookmark"></i></button>
            </div>
        </div>
    <% }); %>
</div>
<%- include("partials/about-sidebar.ejs") -%>
</div>


