<%- include("partials/header.ejs") -%>
<%- include("partials/navbar.ejs") -%>
<div class="content-body">
<%- include("partials/sidebar.ejs") -%>
<div class="postBox">
    <% posts.forEach(function(post){ %>
        <div class="post">
            <div class="post-details">
            <span class="postTopic"> <%= post.topic %> </span>
            <span class="postAuthor"><%= post.author %></span>
            <span class="postDate"><%= post.date %></span>
            </div>
            <h2 class="postTitle"><%= post.postTitle %></h2>
            <% if(post.postImage != ''){ %>
                <div class="postImage">
                    <img src="<%= post.postImage %>" alt="post image" class="postImage">
                </div> 
            <% } else { %>
                <div class="postContent">
                    <p><%= post.postContent %></p>
                </div>
            <% } %>
            <div class="bottom-buttons">
                <div>
                <button class="postButton" id="likebutton"><i class="fa-regular fa-thumbs-up"></i>  11k</button>
                <button class="postButton"><i class="fa-regular fa-thumbs-down"></i> 0k</button>
                <button class="postButton">Comment <i class="fa-regular fa-comment"></i></button>
                </div>
                <button class="postButton">Save  <i class="fa-regular fa-bookmark"></i></button>
            </div>
        </div>
    <% }); %>
</div>
<%- include("partials/about-sidebar.ejs") -%>
</div>
<%- include("partials/footer.ejs") -%>



